@model SceneSherpa.Models.Media

<h1>@Model.Title</h1>
<br />

<p>Production: @Model.ProductionCompany</p>
<p>Type: @Model.Type</p>
<br />
@if (Model.Reviews != null && Model.Reviews.Count > 0)
{
    foreach (var review in Model.Reviews)
    {
        <p>Rating: @review.Rating</p>
        @if (!string.IsNullOrEmpty(review.Content))
        {
            <p>Content: @review.Content</p>
        }
        <form method="post" action="/media/@Model.Id/reviews/delete/@review.Id">
            <button "submit" onclick="return confirm('Are You Sure You Want To Delete Review')">Delete Review</button>
        </form>
    }
}
else
{
    <h4>There are currently no reviews for @Model.Title</h4>
}