@model SceneSherpa.Models.Media
@{
    SceneSherpa.Models.Review currentUserReview = ViewData["CurrentUserReview"] as SceneSherpa.Models.Review; 
}
<h1>@Model.Title</h1>
<br />

<p>Production: @Model.ProductionCompany</p>
<p>Type: @Model.Type</p>
<br />


@if (currentUserReview != null)
{
    <h2>My Review</h2>

    <p>Rating: @currentUserReview.Rating</p>
    @if (!string.IsNullOrEmpty(currentUserReview.Content))
    {
        <p>Content: @currentUserReview.Content</p>
    }
    //JK: Maybe better way to do this, this removes a user's review temporarily so that it does not appear in the full list of reviews
    @Model.Reviews.Remove(currentUserReview);
}



@if (Model.Reviews != null && Model.Reviews.Count > 0)
{
    <h2>Other Reviews</h2>
    foreach (var review in Model.Reviews)
    {
        <p>Rating: @review.Rating</p>
        @if (!string.IsNullOrEmpty(review.Content))
        {
            <p>Content: @review.Content</p>
        }
        <form method="post" action="/media/@Model.Id/reviews/delete/@review.Id">
            <button "submit" onclick="return confirm('Are You Sure You Want To Delete Review')">Delete Review</button>
        </form>
    }
}
