@model SceneSherpa.Models.Media
@{
    SceneSherpa.Models.Review currentUserReview = ViewData["CurrentUserReview"] as SceneSherpa.Models.Review;
    SceneSherpa.Models.User currentUser = ViewData["CurrentUserObject"] as SceneSherpa.Models.User;
    string userIdUsername = "";
    string userId = "";
    if(ViewData["CurrentUserIdUsername"] != null)
    {
        userIdUsername = ViewData["CurrentUserIdUsername"] as string;
        userId = userIdUsername.Split()[0];
    }
}

<link href='https://unpkg.com/css.gg@2.0.0/icons/css/more-vertical.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<h1 class="drop-shadow" style="text-align: center;">@Model.Title</h1>
<hr></hr>
<div>
    <div class="row">
        <div class="col-9">
            <p>Production: @Model.ProductionCompany</p>
            <p>Type: @Model.Type</p>
            <h3 class="drop-shadow">Overview</h3>
            <p>@Model.Description</p>
        </div>
        <div class="col">
            <img src="@Model.ImageURL"></img>
                <!--Change Button Logo Based on Users Lists-->
                @if(currentUser != null)
                {
                    <form method="post" action="/Users/@currentUser.Id/@Model.Id/CurrentlyWatch">
                        <button class="btn btn-primary" type="submit">
                            @if (currentUser.CurrentWatch.Contains(Model))
                            {
                                <span><i class="bi bi-check-square"></i> Currently Watching</span>
                            }
                            else
                            {
                                <span><i class="bi bi-square"></i> Currently Watching</span>
                            }
                        </button>
                    </form>
                    <form method="post" action="/Users/@currentUser.Id/@Model.Id/AllWatched">
                        <button class="btn btn-primary" type="submit">
                            @if (currentUser.AllWatched.Contains(Model))
                            {
                                <span><i class="bi bi-check-square"></i> Watched</span>
                            }
                            else
                            {
                                <span><i class="bi bi-square"></i> Watched</span>
                            }
                        </button>
                    </form>
                    <form method="post" action="/Users/@currentUser.Id/@Model.Id/ToWatch">
                        <button class="btn btn-primary" type="submit">
                            @if (currentUser.ToWatch.Contains(Model))
                            {
                                <span><i class="bi bi-check-square"></i> To Watch</span>
                            }
                            else{
                                <span><i class="bi bi-square"></i> To Watch</span>
                            }
                        </button>
                    </form>  
                }
        </div>
    </div>
</div>

<!--Show Current Users Review As Long as there is one-->
@if (currentUserReview != null)
{
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">
            <span style="display:inline-block">My Review</span>
        </div>
        <div class="card-body">
            <h4 class="card-title">Rating: @currentUserReview.Rating</h4>
            @if(!string.IsNullOrEmpty(currentUserReview.Content))
            {
                @Markdown.ParseHtmlString(@currentUserReview.Content)
                <form method="post" action="/media/@Model.Id/reviews/delete/@currentUserReview.Id">
                    <button type="submit" onclick="return confirm('Are You Sure You Want To Delete Review')">Delete Review</button>
                </form>
                <form action="/media/@Model.Id/reviews/@currentUserReview.Id">
                    <button type="submit">Edit Review</button>
                </form>
            }
            else
            {
                <p>User left review empty</p>
                <form method="post" action="/media/@Model.Id/reviews/delete/@currentUserReview.Id">
                    <button type="submit" onclick="return confirm('Are You Sure You Want To Delete Review')">Delete Review</button>
                </form>
                <form action="/media/@Model.Id/reviews/@currentUserReview.Id">
                    <button type="submit">Edit Review</button>
                </form>
            }
        </div>
    </div>
    //JK: Maybe better way to do this, this removes a user's review temporarily so that it does not appear in the full list of reviews, returns true so I hide the true value
    <p hidden>@Model.Reviews.Remove(currentUserReview);</p>
}
else
{
    <!--Review Can't be added unless logged in-->
    if(currentUser != null)
    {
     <form action="/Media/@Model.Id/Reviews/New">
        <button type="submit">
            Add Review
        </button>
    </form>
    }
}


<!--Show Everyone Elses Reviews-->
@if (Model.Reviews != null && Model.Reviews.Count > 0)
{
    <h2>Other Reviews</h2>
    foreach (var review in Model.Reviews)
    {
        <p>@review.User.Username:</p>
        <p>Rating: @review.Rating</p>
        @if (!string.IsNullOrEmpty(review.Content))
        {
            <p>Content: @Markdown.ParseHtmlString(review.Content)</p>
        }
    }
}
