@model SceneSherpa.Models.Media
@{
    SceneSherpa.Models.Review currentUserReview = ViewData["CurrentUserReview"] as SceneSherpa.Models.Review;
    SceneSherpa.Models.User currentUser = ViewData["CurrentUserObject"] as SceneSherpa.Models.User;
}
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/more-vertical.css' rel='stylesheet'>

<h1>@Model.Title</h1>
<br />

<p>Production: @Model.ProductionCompany</p>
<p>Type: @Model.Type</p>
<br />

<form method="post" action="/Users/@currentUser.Id/@Model.Id/CurrentlyWatch">
<button type="submit">
    Currently Watching
</button>
</form>
<form method="post" action="/Users/@currentUser.Id/@Model.Id/AllWatched">
    <button type="submit">
        Already Watched
    </button>
</form>
<form method="post" action="/Users/@currentUser.Id/@Model.Id/ToWatch">
    <button type="submit">
        To Watch
    </button>
</form>
<br />
<br />

@if (currentUserReview != null)
{
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">
            <span style="display:inline-block">My Review</span>
        </div>
        <div class="card-body">
            <h4 class="card-title">Rating: @currentUserReview.Rating</h4>
            @if(!string.IsNullOrEmpty(currentUserReview.Content))
            {
                <p class="card-text">@currentUserReview.Content</p>
                <form method="post" action="/media/@Model.Id/reviews/delete/@currentUserReview.Id">
                    <button type="submit" onclick="return confirm('Are You Sure You Want To Delete Review')">Delete Review</button>
                </form>
                <form action="/media/@Model.Id/reviews/@currentUserReview.Id">
                    <button type="submit">Edit Review</button>
                </form>
            }
            else
            {
                <p>User left review empty</p>
                <form method="post" action="/media/@Model.Id/reviews/delete/@currentUserReview.Id">
                    <button type="submit" onclick="return confirm('Are You Sure You Want To Delete Review')">Delete Review</button>
                </form>
                <form action="/media/@Model.Id/reviews/@currentUserReview.Id">
                    <button type="submit">Edit Review</button>
                </form>
            }
        </div>
    </div>
    //JK: Maybe better way to do this, this removes a user's review temporarily so that it does not appear in the full list of reviews, returns true so I hide the true value
    <p hidden>@Model.Reviews.Remove(currentUserReview);</p>
}
else
{
    <form action="/Media/@Model.Id/Reviews/New">
        <button type="submit">
            Add Review
        </button>
    </form>

}



@if (Model.Reviews != null && Model.Reviews.Count > 0)
{
    <h2>Other Reviews</h2>
    foreach (var review in Model.Reviews)
    {
        <p>Rating: @review.Rating</p>
        @if (!string.IsNullOrEmpty(review.Content))
        {
            <p>Content: @review.Content</p>
        }
    }
}
