

@{
    string CurrentUserIdUsername = ViewData["CurrentUserIdUsername"] as string;

    List<Media> media = new List<Media>();
    List<string> CurrentUser = new List<string>();
    if(CurrentUserIdUsername != null)
    {
        CurrentUser.AddRange(CurrentUserIdUsername.Split());
    }
    if(ViewBag.MediaList != null)
    {
        foreach(var e in ViewBag.MediaList)
        {
            media.Add(e);
        }
    }
}

@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using SceneSherpa.Models;

<!DOCTYPE html>
<link rel="stylesheet" href="css/site.css" />

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SceneSherpa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SceneSherpa.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Media" asp-action="Index">
                    <img src="/Resources/Screenshot 2023-09-25 104209.png" title="SS" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Media" asp-action="Index">Explore Media</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class=" nav-item force-right">
                            <form autocomplete="off" class="d-flex" id="live-search">
                                <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
                                <input class="form-control force-right" id="filter" type="search" placeholder="Start typing...">
                            </form>
                            <div class="search-container form-control">
                                <ul class="liveSearchBar">
                                    @foreach(var e in media)
                                    {
                                        <li>
                                            <h4 class="search-title"><a href="/media/@e.Id">@e.Title</a></h4>
                                            <p class="search-company">@e.ProductionCompany</p>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                            @if (ViewData["CurrentUserIdUsername"] != null)
                            {
                            <li class="nav-item dropdown force-right">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@CurrentUser[1]</a>
                                <div class="dropdown-menu" style="">
                                    <h6 class="dropdown-header">Options</h6>
                                    <a class="dropdown-item" href="/Users/@CurrentUser[0]">My Profile</a>
                                    <!--Can add more options here, add the link to href, and content between ><  -->
                                    <!--<a class="dropdown-item" href="#"></a>
                                    <a class="dropdown-item" href="#"></a>-->
                                    <a class="dropdown-item" href="/users/@CurrentUser[0]/Logout" onclick="return confirm('Are You Sure You Want To Log Out?')">Log Out</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                            }
                        <li>
                            @if (ViewData["CurrentUserIdUsername"] == null)
                            {
                                <form class="force-right" action="/users/login">
                                    <button type="submit" class="btn btn-outline-primary" asp-controller="Users" asp-action="Login">Log In</button>
                                </form>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--    <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - SceneSherpa - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="/js/site.js"></script>
</body>
</html>