@model SceneSherpa.Models.User
<h1>Edit Profile</h1>

<form method="post" action="/users/@Model.Id">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="@Model.Name" />
    </div>
    <br />
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="@Model.Username" />
    </div>
    <br />
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="@Model.Email" />
    </div>
    <br />
    <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" value="@Model.Age" />
    </div>
    <div class="form-group">
        <label for="password"></label>
        <input type="hidden" id="password" name="password" value="@Model.Password" />
    </div>
    <br />
    
    <button type="submit">Update Profile</button>

</form>