<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
@model SceneSherpa.Models.User
@{
    string error = ViewData["TakenError"] as string;
}

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<div class="edit-account">
    <form class="edit-account login" method="post" action="/users/@Model.Id">
    <h3>Edit your Account</h3>

    <label for="name" class="login-form-label">Name</label>
    <input type="text" id="name" class="login-form-input" name="Name" required value="@Model.Name">

    <label for="username" class="login-form-label">Username</label>
    <input type="text" id="username" class="login-form-input" name="Username" required value="@Model.Username">

    <label for="email" class="login-form-label">Email</label>
    <input type="email" id="email" class="login-form-input" name="Email" required value="@Model.Email">

    <label for="age" class="login-form-label">Age</label>
    <input type="text" id="age" class="login-form-input" required name="Age" value="@Model.Age">

        @if (error != null)
        {
            <p class="error" style="color: salmon; position: absolute; margin-bottom: -10px;">@error</p>
        }

    <button class="login-button" type="submit">Confirm Changes</button>
</form>
</div>

<!--
<form method="post" action="/users/@Model.Id">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="@Model.Name" />
    </div>
    <br />
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="@Model.Username" />
    </div>
    <br />
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="@Model.Email" />
    </div>
    <br />
    <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" value="@Model.Age" />
    </div>
    <div class="form-group">
        <label for="password"></label>
        <input type="hidden" id="password" name="password" value="@Model.Password" />
    </div>
    <br />
    @if(error != null)
    {
        <h4 style="color: red">@error</h4>
    }

    <button type="submit">Update Profile</button>

</form>
-->